.dropdownContainer {
  width: 300px;

  :focus {
    box-shadow: none !important;
  }
}

#dropdown-variants-Primary{
  color: rgba(0, 0, 0, 0.651);
  background-color: rgb(123, 212, 130);
  border: none;
}

.dropdownItem {
  width: 300px !important;
}
